<div class="content">
  <p>Crew:</p>
  <ul>
    <li>Mark Mylod: director</li>
    <li>Seth Reiss: writer</li>
    <li>Will Tracy: writer</li>
    <li>Will Ferrell: producer</li>
    <li>Jenna Go: associate producer</li>
    <li>Katie Goodson: producer</li>
    <li>Betsy Koch: producer</li>
    <li>Adam McKay: producer</li>
    <li>DanTram Nguyen: producer</li>
    <li>Zahra Phillips: producer</li>
    <li>Seth Reiss: executive producer</li>
    <li>Michael Sledd: executive producer</li>
    <li>Will Tracy: executive producer</li>
  </ul>

  <br/>

  <p>Cast:</p>
  <ul>
    <li>Ralph Fiennes as Chef Slowik</li>
    <li>Anya Taylor-Joy	as Margot</li>
    <li>Nicholas Hoult as Tyler</li>
    <li>Hong Chau as Elsa</li>
    <li>Janet McTeer as Lillian</li>
    <li>Paul Adelstein as Ted</li>
    <li>John Leguizamo as Movie Star</li>
    <li>Aimee Carrero as Felicity</li>
    <li>Reed Birney as Richard</li>
    <li>Judith Light as Anne</li>
    <li>Rebecca Koon as Linda</li>
    <li>Rob Yang as Bryce</li>
    <li>Arturo Castro as Soren</li>
    <li>Mark St. Cyr as Dave</li>
    <li>Peter Grosz as Sommelier</li>
    <li>Christina Brucato as Katherine</li>
    <li>Adam Aalderks as Jeremy</li>
    <li>Jon Paul Allyn as Boat Waiter</li>
    <li>Mel Fair as Boatman</li>
    <li>Cristian Gonzalez as Server 1</li>
    <li>Matthew Cornwell as Dale / Coast Guard Officer</li>
    <li>John Wilkins III as Server 2</li>
    <li>John Cola as Chef (uncredited)</li>
    <li>Michael A. Dean as Chef (uncredited)</li>
    <li>Marcus Aveons Duncan as Chef (uncredited)</li>
    <li>Alexander Goldstein as Chef (uncredited)</li>
    <li>Grant Henley as Chef (uncredited)</li>
    <li>Brandon Herron as Front of House (uncredited)</li>
    <li>Elbert Kim as Police Officer (uncredited)</li>
    <li>Melisa Lopez as Police Officer (uncredited)</li>
    <li>A. Jae Michele as Chef (uncredited)</li>
    <li>Jay Shadix as Front of House (uncredited)</li>
    <li>Rachel Trautmann as Chef (uncredited)</li>
    <li>Victor Zheng as Chef (uncredited)</li>
  </ul>
</div>
