<div class="content">
  <p>Crew:</p>
  <ul>
    <li>Russell Crow: director && screenplay</li>
    <li>Stephen M. Coates: writer && story writer</li>
    <li>Drew Bailey: line producer</li>
    <li>Ryan Basford: co-executive producer</li>
    <li>Brian Beckmann: executive producer</li>
    <li>Mikael Borglund: executive producer</li>Mikael Borglund: executive producer
    <li>Addam Bramich: producer</li>>
    <li>Jason Clark: producer</li>
    <li>Matt Cohen: executive producer</li>
    <li>Court Coursey: co-executive producer</li>
    <li>Mark B. David: producer</li>
    <li>Romilda De Luca: executive producer</li>
    <li>Jay Douglas: executive producer</li>
    <li>Mary Doumith: executive producer</li>
    <li>Nick Farnell: executive producer</li>
    <li>Laura Grange: executive producer</li>
    <li>Gary Hamilton: producer (produced by)</li>
    <li>Kelly Hamilton: co-producer</li>
    <li>Ryan Hamilton: producer</li>
    <li>W. Peter Iliff: executive producer</li>
    <li>Patrick Josten: executive producer</li>
    <li>Walter Josten: executive producer</li>
    <li>Nelson Khoury: executive producer</li>
    <li>Nym Kim: co-executive producer</li>
    <li>Adrian Kind: executive producer</li>
    <li>Andrew Kotliar: executive producer</li>
    <li>Steven Matusko: executive producer</li>
    <li>Conor McAdam: executive producer</li>
    <li>Padraic McKinley: consulting producer</li>
    <li>Ed Morgan: co-executive producer</li>
    <li>G.E. Morgan: co-executive producer (as Ed Morgan)</li>
    <li>David Nagelberg: executive producer</li>
    <li>Seth Needle: executive producer</li>
    <li>Angelica Nunez: executive producer</li>
    <li>Josh Pomeranz: executive producer</li>
    <li>Keith Rodger: producer</li>
    <li>Adam Sigal: executive producer</li>
    <li>Ben Smith: executive producer</li>
    <li>Julia Stuart: executive producer</li>
    <li>Kanesh Mohana Sundaram: executive producer</li>
    <li>Vinod Mohana Sundaram: associate producer</li>
    <li>Joe Thomas: executive producer</li>
    <li>Jomon Thomas: executive producer</li>
    <li>Brett Thornquest: executive producer</li>
    <li>Jeanette Volturno: producer</li>
    <li>Jordan Wagner: executive producer</li>
    <li>Carol Anne Watts: executive producer</li>
    <li>Matt Williams: producer</li>
    <li>Megan Wynn: co-producer && line producer</li>
    <li>Ying Ye: producer</li>
    <li>Elizabeth Zavoyskiy: executive producer</li>
  </ul>

  <br/>

  <p>Cast:</p>
  <ul>
    <li>Russell Crowe as Jake Foley</li>
    <li>Liam Hemsworth as Michael Nankervis</li>
    <li>RZA	as Andrew Johnson</li>
    <li>Aden Young as Alex Harris</li>
    <li>Steve Bastoni as Paul Muccino</li>
    <li>Daniel MacPherson as Sam McIntyre</li>
    <li>Brooke Satchwell as Nicole Foley</li>
    <li>Paul Tassone as Victor</li>
    <li>Matt Nable as Billy</li>
    <li>Benedict Hardie as Styx</li>
    <li>Molly Grace as Rebecca Foley</li>
    <li>Elsa Pataky as Penelope</li>
    <li>Jack Thompson as Shaman Bill (Paje)</li>
    <li>Jacqueline McKenzie as Doctor</li>
    <li>Zara Zoe as Allira Morley (The Artist)</li>
    <li>Lynn Gilmartin as Allison Foley</li>
    <li>Addam Bramich as Chris</li>
    <li>Lucy Lock as Debbie</li>
    <li>Quek 'Albert' Yong as Con</li>
    <li>Darcy Tadich as Young Jake</li>
    <li>Rakeem Diggs as Young Drew</li>
    <li>Calum Anderson as Young Alex</li>
    <li>Bede Warnock as Young Michael</li>
    <li>Zack Grech as Young Paul</li>
    <li>Oscar Mitchell as Young Victor</li>
    <li>Honey Beattie as Cheryl</li>
    <li>Caspar Hardaker as Arthur</li>
    <li>Moreblessing Maturure as Monica</li>
    <li>Danielle Coleman as Female Shaman #1</li>
    <li>Mikaela Delolmo as Female Shaman #2</li>
    <li>Eden Hookway-Jones as Female Shaman #3</li>
    <li>Josh Norbido as Poker Dealer && Card Shuffler</li>
    <li>Sam Burgess as Boxing Trainer</li>
    <li>Shaun Barry as Political Aid #1</li>
    <li>Jemima Quinn as Political Aid #2</li>
    <li>Aileen Huynh as Reporter Beverly</li>
  </ul>
</div>
