<div class="content">
  <p>Crew:</p>
  <ul>
    <li>Tommy Wirkola: director</li>
    <li>Pat Casey: writer</li>
    <li>Josh Miller: writer</li>
    <li>Paul Barry: co-producer</li>
    <li>Guy Danella: producer</li>
    <li>Marc S. Fischer: executive producer</li>
    <li>Brandy Hagborg: co-producer</li>
    <li>David Leitch: producer</li>
    <li>James Lin: executive in charge of production</li>
    <li>Kelly McCormick: producer</li>
  </ul>

  <br/>

  <p>Cast:</p>
  <ul>
    <li>Beverly D'Angelo as Gertrude Lightstone</li>
    <li>David Harbour as Santa Claus</li>
    <li>John Leguizamo as Scrooge</li>
    <li>Cam Gigandet as Morgan Lightstone</li>
    <li>Brendan Fletcher as Krampus</li>
    <li>Edi Patterson as Alva Lightstone</li>
    <li>Alex Hassell as Jason Lightstone</li>
    <li>Mike Dopud as Commander Thorp</li>
    <li>Alexis Louder as Linda</li>
    <li>Mitra Suri</li>
    <li>Stephanie Sy as Sugarplum</li>
    <li>Alexander Elliot as Bert</li>
    <li>Leah Brady as Trudy Lightstone</li>
    <li>John B. Lowe as Pub Santa</li>
    <li>André Eriksen</li>		
    <li>Sean Skene as Lead Bodyguard</li>
    <li>Erik Athavale as Richard</li>
    <li>Frederick Allen as Bar Patron</li>
    <li>Vance Halldorson as Grounds Security</li>
    <li>DJ Brotherson as Mercenary (uncredited)</li>
    <li>Finn McCager Higgins as Jingle (uncredited)</li>
  </ul>
</div>
