<div class="content">
  <p>Crew:</p>
  <ul>
    <li>Ryan Coogler: director && writer && story writer</li>
    <li>Joe Robert Cole: writer</li>
    <li>Victoria Alonso: executive producer</li>
    <li>Louis D'Esposito: executive producer</li>
    <li>Kevin Feige: producer</li>
    <li>Nate Moore: producer</li>
    <li>Barry H. Waldman: executive producer</li>
  </ul>

  <br/>

  <p>Cast:</p>
  <ul>
    <li>Letitia Wright as Shuri</li>
    <li>Lupita Nyong'o as Nakia</li>
    <li>Danai Gurira as Okoye</li>
    <li>Winston Duke as M'Baku</li>
    <li>Angela Bassett as Ramonda</li>
    <li>Tenoch Huerta as Namor (as Tenoch Huerta Mejía)</li>
    <li>Martin Freeman as Everett Ross</li>
    <li>Dominique Thorne as Riri</li>
    <li>Florence Kasumba as Ayo</li>
    <li>Michaela Coel as Aneka</li>
    <li>Alex Livinalli as Attuma</li>
    <li>Mabel Cadena as Namora</li>
    <li>Isaach De Bankolé as River Tribe Elder</li>
    <li>Danny Sapani as Border Tribe Elder</li>
    <li>Dorothy Steel as Merchant Tribe Elder</li>
    <li>Zainab Jah as Mining Tribe Elder</li>
    <li>Sope Aluko as Sope the Shaman</li>
    <li>Connie Chiume as Zawavari</li>
    <li>Trevor Noah as Griot</li>
    <li>Shawn Roberts as WDG Scientist</li>
    <li>Zola Williams as Zola</li>
    <li>Janeshia Adams-Ginyard as Nomble</li>
    <li>Jemini Powell as Jemini</li>
    <li>Marija Juliette Abney as Dora Milaje (as Marija Abney)</li>
    <li>Keisha Tucker as Dora Milaje (as Keisha Jonaie Tucker)</li>
    <li>Ivy Haralson as Dora Milaje</li>
    <li>Maya Macatumpag as Dora Milaje</li>
    <li>Baaba Maal as Funeral Singer</li>
    <li>Jabari Exum as Drummer / Naval Guard</li>
    <li>Massamba Diop as Drummer</li>
    <li>Magatte Saw as Drummer (as Magatte Sow)</li>
    <li>Gerardo Aldana as Assembly Chairperson</li>
    <li>Richard Schiff as U.S. Secretary of State</li>
    <li>Gigi Bermingham as French Secretary of State</li>
    <li>Rudolph Massanga as Young Mali Technician</li>
    <li>Robert John Burke as Smitty</li>
    <li>Lake Bell as Dr. Graham</li>
    <li>Judd Wild as Jackson</li>
    <li>Amber Harrington as Rita Salazar</li>
    <li>Michael Blake Kruse as Henderson</li>
    <li>Justin James Boykin as Cargo Ship Helicopter Pilot</li>
    <li>Anderson Cooper as Anderson Cooper</li>
    <li>Mackenro Alexander as River Barrier Naval Guard</li>
    <li>Kamaru Usman as Naval Officer</li>
  </ul>
</div>
